@use '../../styles/variables' as v;
@use '../../styles/mixins' as mx;

.navbar {
    padding: 24px 0;
    max-height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin: 0 0 32px 0;
    color:v.$color-White;

    @include mx.vp-767 {
        gap: 24px;
        margin: 0;
    }

    //logo
    &__logo {
        min-width: 143px;
        height: 32px;

        @media (max-width: 767px) {
            min-width: 80px;
        }

        &img {
            width: 100%;
            height: auto;
        }
    }

    /// links + search
    &__right{
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
        flex: 1;

        @include mx.vp-767 {
            gap: 24px;
            justify-content: flex-end;
        }
    }


    /// links
    &__list {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 0;

        @include mx.vp-767 {
            display: none;
        }
    }

    &__item {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;

        &-link {
            color: #FFFFFF;
        }
    }

    // search
    &__search{
        flex: 1;
        

        @include mx.vp-767 {
           flex: 0;
        }
        
        &-input{

            @include mx.vp-767 {
                display: block;
                position: absolute;
                opacity: 0;
                transform: translateY(-75px);
                width: 100%;
                top: 0;
                left: 0;
                transition: opacity v.$transition-300 , transform v.$transition-300;
            }
        }
    }

    /// auth
    &__auth{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3px;
        
        &-link{
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: v.$color-White;
            display: flex;
            align-items: center;
            @include mx.vp-767 {
                display: none;
            }

        }
    }

    &__mobile{
        display: none;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        color: #FFFFFF;
        height: 24px;

        @include mx.vp-767 {
            display: block;
        }

    }
}


.navbar__search-input--move{

    @include mx.vp-767 {
        transform: translateY(20px);
        opacity: 1;
        width: 95%;
        left: 20px;
    }
    
}