// Colors

$color-Blue-Jeans:#67A5EB !default;
$color-White: #FFFFFF !default;
$color-White-opacity: #FFFFFFB2 !default;
$color-Forest-Green:#308E21 !default;
$color-Onyx: #393B3C !default;
$color-Onyx-opacity: #00000066 !default;
$color-gray: #FFFFFF80 !default;
$color-border: #00000066 !default;
$color-havy: #6A5DC2 !default;
$color-error: #FF7575 !default;
$color-black: black !default;
$color-box-shadow :rgba(0, 0, 0, 0.2);
$color-box-shadow-2 : #ffffff54;

// Viewport 
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
$animation-duration: 1.05s;