@use '../../styles/variables' as v;
@use '../../styles/mixins' as mx;

.auth {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  padding: 64px 40px;
  background-color: #FFFFFF;
  min-width: 330px;

  @include mx.vp-767{
    padding: 32px 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-size: 12px;
    color: var(--text-secondary);
  }

  &__button {
    padding: 0;
    background: none;
    outline: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: -70px;
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
    color: v.$color-black;
    background-color: v.$color-White;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: color v.$transition-300;


    &-icon{
      transition: transform v.$transition-300;
    }

    &:hover{
      color: v.$color-Heliotrope;

      .auth-form__close-icon{
          transform: scale(1.05);
      }
    }

    @include mx.vp-767{
      right: 0px;
    }

  }

  &__copleted{
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    color: v.$color-black;

    &-title{
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin: 0;
      padding: 0;
    }

    &-text{
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      margin: 0;
      padding: 0;
    }
  }

}