@use '../../styles/variables' as v;
@use '../../styles/mixins' as mx;

.movies {
    margin: 0 0 140px;

    &__random {
        position: relative;
        min-height: 550px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 64px 40px;
        position: relative;
        align-items: stretch;

        @include mx.vp-1023 {
            grid-template-columns: repeat(3, 1fr);
            gap: 40px 30px;
        }

        @include mx.vp-767 {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 20px;
        }

        @media (max-width: 510px ) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: auto;      
            overflow-y: visible;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: thin;
            gap: 30px;
            padding-left: 29px;
            
            &::-webkit-scrollbar {
                display: none;
            }
        }
        
    }

    &__item {
        position: relative;
        max-width: 224px;
        max-height: 336px;
        box-shadow: 0 0 80px v.$color-box-shadow-2 ;
        border-radius: 16px;
        background-color: v.$color-Onyx ;
        transition:  transform v.$transition-300;

        &:hover{
            transform: scale(1.05);

            .movies__item-count{
                background-color: v.$color-black;
                color: v.$color-White;
            }
        }

        @include mx.vp-1023 {
            flex: 0 0 auto;
            max-width: 224px;
        }

         @media (max-width: 510px ) {
            width: 100%;
            overflow: visible; 
            margin-top: 30px;
            box-shadow:none
        }

        &-title{
            position: absolute;
            width: 100%;
            background-color: v.$color-black;
            color: v.$color-White;
            text-align: center;
            bottom: 0;
            padding: 25px;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            border-radius: 0 0 16px 16px  ;
        }

    }

    &__item-poster {
        height: auto;
        border-radius: 16px;

        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 16px;
        }
    }

    &__item-count {
        position: absolute;
        padding: 8px 24px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        background-color: v.$color-White;
        color: v.$color-Iris;
        top: -25px;
        left: -25px;
        transition: background-color v.$transition-300 , color v.$transition-300;

        
    }

    &__title{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: v.$color-White;
    }
}