@use '../../styles/variables' as v;
@use '../../styles/mixins' as mx;

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__input-wrapper {
      position: relative;
      width: 100%;

        &:hover{
          .form-field__icon{
          color: v.$color-Maximum-Blue-Purple;;
        }
        }
    }

    input,
    textarea {
      width: 100%;
      padding: 12px 16px 12px 42px;
      border-radius: 8px;
      font-size: 16px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      transition: border-color v.$transition-300;

      &:focus, &:hover {
        border-color: v.$color-Maximum-Blue-Purple;
        outline: none;
      }

      &:invalid {
        border-color: v.$color-error;
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      color: v.$color-border;
      pointer-events: none;
      z-index: 1;
      transition: color v.$transition-300;
    }

    &__error-text{
      color: v.$color-error;
      font-size: 14px;
    }

    &__error-text {
      color: v.$color-error;
      font-size: 12px;
      padding-left: 4px;
    }

    &--error {
      input,
      textarea {
        border-color: v.$color-error;
      }

      .form-field__icon {
        color: v.$color-error;
      }
    }
}
